<!DOCTYPE html>
<html>
	<head>
		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title>Booker-Slum</title>
		{% endif %}
		<!-- Required meta tags -->
	     <meta charset="utf-8">

	     <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/apple-touch-icon.png') }}">
		 <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicon-32x32.png') }}">
		 <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/favicon-16x16.png') }}">
		 <link rel="shortcut icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='/favicon.ico') }}">
		 <link rel="manifest" href="/site.webmanifest">

	     <meta name="google-site-verification" content="fAlpf9zwVs8dBKOl_55crw-Jutg83x42Ixww-MiKU90" />

	     <meta name="viewport" content="width=device-width, initial-scale=1">

	      <meta name="keywords" content="Books, reviews, ratings, api, booker-slum, goodreads-api, cart, save books for later use, information, book authors, book published date, book isbn-10, book isbn-13">

	      <meta name="author" content="Himanshu Mahawar">

	     <meta name="description" content="This is a book review website or webapp created using flask(Python) and postgresql database. User can Search, give review, and ratings to a book, add books to their cart and to review them later. User can use these mentioned features after login or register to the website. User cam also use api by adding api/<isbn-10 no.> and they will get json object.">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="		sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'layout.css') }}">

	     
	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
		    <a class="navbar-brand">Booker-Slum</a>
		    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		      <li class="nav-item link-h" style="">
		        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
		      </li>
		      {% if not session.get('user_id') %}
		      	<li class="nav-item link-r">
			      <a class="nav-link" href="{{ url_for('login') }}">Login</a>
			    </li>
			    <li class="nav-item link-r">
			      <a class="nav-link " href="{{ url_for('register') }}">Register</a>
			    </li>
		      {% else %}
		      	<li class="nav-item link-r">
			      <a class="nav-link" href="{{ url_for('account') }}"><i class="fa fa-shopping-cart" aria-hidden="true"> Saved Books</i></a>
			    </li>
			    <li class="nav-item link-r">
			      <a class="nav-link " href="{{ url_for('logout') }}">Logout</a>
			    </li>
		      {% endif %}
		    </ul>
		  </div>

		</nav>
		<div>
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" style="z-index: 2;margin-top: 10px;width: 90%;margin-left: 5%;">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}


              {% block content %}
              {% endblock %}
              
        </div>
        <br><br><br>



        <!-- Footer -->
			
        	<footer class="site-footer">
        		
        		<div class="about" style="color: #949494">
		        	<h2>About</h2>
		            <p class="text-justify" style="margin: auto 15% auto 15%;">Booker-Slum is a starter project of Himanshu Mahawar (myself). This webapp is based on flask and postgresql. Some of the parts of UI used in this project is taken from w3s Schools Bootstrap, codepen.io. This is an open source project. Improvements will be very much appreciated.</p>
		         </div>
		         <div>
		         	<ul class="footer-links">
		         		<li>
		         			<a href="https://www.facebook.com/himanshu27.stu" class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fab fa-facebook-f" style="color: #4267B2;"></i></a>
		         		</li>
		         		<li>
		         			<a href="https://www.twitter.com/imhimanshu27" class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-twitter" style="color: #00acee;"></i></a>
		         		</li>
		         		<li>
		         			<a href="https://www.linkedin.com/in/im-himanshu27" class="btn-floating btn-lg btn-li" type="button" role="button"><i class="fab fa-linkedin-in" style="color: #0e76a8 ;"></i></a>
		         		</li>
		         		<li>
		         			<a href="https://www.instagram.com/himanshu.tasveer" class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fab fa-instagram" style="color: #8a3ab9;"></i></a>
		         		</li>
		         		<li>
		         			<a href="https://www.github.com/himanshu27tasveer" class="btn-floating btn-lg btn-git" type="button" role="button"><i class="fab fa-github" style="color: #ffffff ;"></i></a>
		         		</li>
		         	</ul>
		         </div>
		         <div class="footer-copyright text-center py-3" style="color: #5c5c5c">© 2020 Copyright:
				    <a href="https://himanshu27tasveer.github.io"> Tasveer</a>
				  </div>

        	</footer>

		<!-- Footer -->


	</body>
     
</html>